* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  height: 100vh;
}

.container1 {
  width: 100px;
  height: 100px;
  background-color: red;
}

.container2 {
  width: 100px;
  height: 100px;
  background-color: #06a7f1;
}

.container3 {
  width: 100px;
  height: 100px;
  background-color: rgb(100, 255, 30);
}

.container4 {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 251, 30, 0.5);
}

.container5 {
  width: 100px;
  height: 100px;
  background-color: hsl(286, 100%, 50%);
}

.container6 {
  width: 100px;
  height: 100px;
  background-color: hsla(286, 100%, 50%, 0.5);
}
