* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

article {
  background-color: red;
  display: block; /* block  inline  inline-block */
}

article span {
  background-color: black;
  color: white;
  margin: 1px;
}

article,
span {
  padding: 10px;
  border-radius: 7px;
}
