* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  background-color: coral;

  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;

  align-content: center;
  justify-content: space-evenly;

  /*
    grid-template-areas: "logo nav nav" "sidenav main main" "sidenav main main" "sidenav main main" "footer footer footer";


   
  */
}

.item {
  width: 100px;
  height: 100px;

  /*  
    grid-area: logo;
  */
}

.color1 {
  background-color: aquamarine;
  order: 6;

  /*  
    grid-area: nav;
  */
}

.color2 {
  background-color: blue;
  order: 4;

  /*  
    grid-area: sidenav;
  */
}

.color3 {
  background-color: blueviolet;
  order: 3;
  grid-row: 3;

  /*  
    grid-area: main;
  */
}

.color4 {
  background-color: brown;
  order: 2;

  /*  
    grid-area: footer;
  */
}

.color5 {
  background-color: burlywood;
  order: 1;
}

.color6 {
  background-color: white;
  order: 5;
}
