* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  background-image: url("../images/img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
}

.image1 {
  height: 100vh;
  background-color: red;
  position: relative;
}

.image1 img {
  width: 100%;
  height: 100%;
}

.image1 div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image2 {
  height: 100vh;
  background-color: red;
  position: relative;
}

.image2 img {
  width: 100%;
  height: 100%;
}

.image2 div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
