* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: purple;
}

.card {
  background-color: red;
  width: 70vw;
  height: 50%;
}

.card .text1 {
  font-size: 20px;
}

.card .text2 {
  font-size: 2em;
}

.card .text3 {
  font-size: 4rem;
}

.card .cards {
  background-color: black;
  width: 30%;
  height: 20vh;
}
