* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.menu {
  width: 100%;
  height: 80px;
  background-color: black;

  position: fixed;
}

.sticky {
  width: 150px;
  height: 150px;
  background-color: orange;

  position: sticky;
  margin-top: 300px;
  top: 0;
}

.container {
  height: 150vh;
  background-color: bisque;

  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContainer {
  width: 75%;
  height: 75%;
  border: 3px solid black;

  position: relative;
}

.boxes {
  width: 40%;
  height: 40%;
}

.box1 {
  background-color: greenyellow;
  position: relative;
  left: 50px;
}

.box2 {
  background-color: orange;
  position: absolute;
  bottom: 0;
}
