* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card {
  width: 300px;
  height: 450px;
  background-image: url("../images/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:hover {
  transform: translateY(100px);
}
